@model DoAnNhom11.Models.Shop

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Shared/AdminLayout.cshtml";

}

<h1>Details</h1>

<div>
    <h4>Shop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenCuaHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenCuaHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LienHe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LienHe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhDaiDien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhBia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhBia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopCategories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopCategories.TenLoai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ShopId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
