@model IEnumerable<DoAnNhom11.Models.ApplicationUser>
<p>
    <a asp-action="AddShopOwner">Thêm tài khoản cửa hàng</a>
</p>
<hr />
<h1>Quản lý cửa hàng</h1>
<table class="table">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Chủ shop</th>
            <th>Email</th>
            <th>Tên Shop</th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.MyShop.TenCuaHang</td>

                <td>

                    <div style="display: inline-block;">
                        <a asp-action="Details" asp-route-id="@user.MyShop.ShopId"><button class="btn btn-success">Chi tiết shop</button></a>

                    </div>
                    <div style="display: inline-block;">
                        <form asp-action="ResetShopPassword" asp-route-userId="@user.Id" method="post">
                            <button type="submit" onclick="return confirm('Bạn Có Chắc Chắn Muốn Reset Mật Khẩu Của chủ shop : @user.UserName?');" class="btn btn-primary">Reset Password</button>
                        </form>

                    </div>
                    <div style="display: inline-block;">

                        @if (user.MyShop.BiChan != true)
                        {
                            <form asp-action="BlockShop" asp-route-userId="@user.Id" method="post">
                                <button type="submit" onclick="return confirm('Bạn Có Chắc Chắn Muốn Block shop : @user.MyShop.TenCuaHang?');" class="btn btn-danger">Block Shop</button>
                            </form>
                        }
                        else

                        {
                            <form asp-action="UnblockShop" asp-route-userId="@user.Id" method="post">
                                <button type="submit" onclick="return confirm('Bạn Có Chắc Chắn Muốn Unblock shop : @user.MyShop.TenCuaHang?');" class="btn btn-secondary">Unlock Shop</button>
                            </form>
                        }


                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
