@model IEnumerable<DoAnNhom11.Models.Shop>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Shared/AdminLayout.cshtml";

}

<h1>Index</h1>

<p>
    <a asp-action="AddShopOwner">Thêm shop</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenCuaHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenCuaHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@item.ShopId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShopId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
