@model DoAnNhom11.Models.Shop
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<title>@ViewData["Title"]</title>

<hr />
<div class="row">
    <div class="col-sm-5">
        <div class="overlay"></div>
        <div class="rectangle" style="background-image: url('@Model.AnhBia');">
            <img class="circle" src="@Model.AnhDaiDien" alt="Avatar">
            <div class="content">
                <h4>@Model.TenCuaHang</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-3 " style="display: flex; flex-direction: column; justify-content: space-between;height:var(--col-height)">
        <p>Địa Chỉ: <span class="text-model">@Model.DiaChi</span></p>
        <p>Liên Hệ: <span class="text-model">@Model.LienHe</span></p>
        <p>
            Ngày Tạo: <span class="text-model">
                @StringFormat.DateFormat(Model.NgayTao)
            </span>
        </p>
    </div>
    <div class="col-sm-3" style="display: flex; flex-direction: column; justify-content: space-between;height:var(--col-height)">
        <p>Loại Shop: <span class="text-model">@Model.ShopCategories.TenLoai</span></p>
        <p>Số sản phẩm: <span class="text-model">@ViewBag.ProductQuantity</span></p>
        <p>Số lượng bán: <span class="text-model">@ViewBag.TotalQuantitySold</span></p>
        
    </div>
</div>
<hr />
<h2 style="text-transform: capitalize" class="title text-center">Danh Sách Sản Phẩm</h2>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <form>      
                        <div class="price-range">
                            <!--price-range-->
                            <h2>Tìm trong shop</h2>
                            <div class="well">
                                <input id="searchI" type="text" style="width:200px;margin-bottom:15px" placeholder="Tìm trong shop">
                                <br />
                                <center><button onclick="SearchInShop()" type="button">Tìm Kiếm</button></center>

                            </div>
                        </div><!--/price-range-->
                        <div class="panel-group category-products" id="categoryView">

                            
                        </div>

                        <div class="price-range">
                            <!--price-range-->
                            <h2>Tầm Giá</h2>
                            <div class="well">
                                <table>
                                    <tr>
                                        <td><input id="minPrice" type="number" min="0" value="0" style="width:100px" placeholder="Từ ₫"></td>
                                        <td>&mdash;</td>
                                        <td><input id="maxPrice" type="number" min="0" style="width:100px" placeholder="Đến ₫"></td>
                                    </tr>
                                </table>
                                <br />
                                <center><button onclick="Filter(1)" type="button">Lọc</button></center>

                            </div>
                        </div><!--/price-range-->


                        <div class="shipping text-center">
                            <!--ad-->
                            <img src="../myLayout/images/home/shipping.jpg" alt="" />
                        </div><!--/ad-->

                    </form>
                </div>
            </div>
            <div class="col-sm-9 padding-right" id="searchResults">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</section>


@* @Html.Partial("ProductListPartial", Model); *@
@section Scripts {
    <script>        
        function Filter(page) {
            var minPrice = $('#minPrice').val();
            var maxPrice = $('#maxPrice').val();
            if (minPrice == '' && maxPrice == '') {
                alert("vui lòng nhập đúng giá trị lọc");
                return;
            }
            else if (maxPrice!='') {
                if (minPrice >= maxPrice) {
                    alert("vui lòng nhập đúng giá trị lọc");
                    return;
                }   
            }
            
            $.ajax({
                type: "GET",
                url: '/Products/QuerryProduct?searchString=' + '@ViewBag.Search' + '&shopId=' + '@Model.ShopId' + '&minPrice=' + minPrice + '&maxPrice=' + maxPrice + '&page=' + page,
                success: function (data) {
                    $('#searchResults').html(data);

                    window.scrollTo({
                        top: 0,
                        behavior: 'smooth' // Thêm hiệu ứng cuộn mượt
                    });
                },
                error: function () {
                    return;
                }
            });

        } 
        function SearchInShop() {
            var searchInput = $('#searchI').val();
            if (searchInput == '') {
                alert("vui lòng nhập từ khóa");
                return;
            }
            $.ajax({
                type: "GET",
                url: '/Products/QuerryProduct?searchString=' + searchInput + '&shopId=' + '@Model.ShopId' + ' &page=1',
                success: function (data) {
                    $('#searchResults').html(data);

                    window.scrollTo({
                        top: 0,
                        behavior: 'smooth' // Thêm hiệu ứng cuộn mượt
                    });
                },
                error: function () {
                    return;
                }
            });

        }
        $(document).ready(function () {

            Filter(1);
        });


    </script>
}

<style>
    :root {
        --col-height: 125px;
    }

    .rectangle {
        width: 300px; /* Chiều rộng của khối */
        height: var(--col-height); /* Chiều cao của khối */
        background-size: cover; /* Kích thước ảnh sẽ được hiển thị */
        background-position: center; /* Vị trí căn giữa của ảnh */
        background-repeat: no-repeat; /* Không lặp lại hình ảnh */
    }

    .circle {
        position: absolute; /* Tùy chỉnh vị trí tuyệt đối của nội dung */
        width: 100px; /* Kích thước của hình tròn */
        height: 100px; /* Kích thước của hình tròn */
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%; /* Làm cho hình ảnh tròn */
        border: 2px solid #ccc;
        margin-left: 20px;
    }

    .content {
        position: absolute; /* Tùy chỉnh vị trí tuyệt đối của nội dung */
        top: 50%;
        transform: translateY(-50%);
        left: 30%;
        color: white; /* Màu văn bản */
        text-align: center;
    }

    .overlay {
        position: absolute; /* Định vị tuyệt đối */
        width: 80%; /* Chiều rộng của overlay bằng với khối */
        height: 100%; /* Chiều cao của overlay bằng với khối */
        background-color: rgba(0, 0, 0, 0.3); /* Màu xám mờ với độ mờ là 50% */
        border-radius: 5%; /* Làm cho hình ảnh tròn */
    }

    .text-model {
        color: red;
    }

</style>