@model DoAnNhom11.Models.Shop
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewBag.Size = 3;
}

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<hr />
<div class="row">
    <div class="col-sm-5">
        <div class="overlay"></div>
        <div class="rectangle" style="background-image: url('@Model.AnhBia');">
            <img class="circle" src="@Model.AnhDaiDien" alt="Avatar">
            <div class="content">
                <h4>@Model.TenCuaHang</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-3 " style="display: flex; flex-direction: column; justify-content: space-between;height:var(--col-height)">
        <p>Địa Chỉ: <span class="text-model">@Model.DiaChi</span></p>
        <p>Liên Hệ: <span class="text-model">@Model.LienHe</span></p>
        <p>
            Ngày Tạo: <span class="text-model">
                @StringFormat.DateFormat(Model.NgayTao)
            </span>
        </p>
    </div>
    <div class="col-sm-3" style="display: flex; flex-direction: column; justify-content: space-between;height:var(--col-height)">
        <p>Loại Shop: <span class="text-model">@Model.ShopCategories.TenLoai</span></p>
        <p>Số sản phẩm: <span class="text-model">@ViewBag.ProductQuantity</span></p>
        <p>Số lượng bán: <span class="text-model">@ViewBag.TotalQuantitySold</span></p>
        
    </div>
</div>
<hr />
<section>
        <div class="row">
            <div class="col-sm-12">
                <div class="features_items">
                    <!--features_items-->
                    <h2 style="text-transform: capitalize;" class="title text-center">Tất Cả Sản Phẩm</h2>
                    @foreach (var item in ViewBag.ProductList)
                    {
                        @Html.Partial("_ProductPartial", item as Product)
                    }

                </div><!--features_items-->
            </div>
        </div>
</section>
<div style="text-align: center;">
    <ul class="pagination" style="display: inline-block;">
        @Html.PagedListPager(ViewBag.ProductList as PagedList<Product>, page => Url.Action("Details", new { ma = Model.ShopId, page = page }))
    </ul>
</div>
<style>
    :root {
        --col-height: 125px;
    }

    .rectangle {
        width: 300px; /* Chiều rộng của khối */
        height: var(--col-height); /* Chiều cao của khối */
        background-size: cover; /* Kích thước ảnh sẽ được hiển thị */
        background-position: center; /* Vị trí căn giữa của ảnh */
        background-repeat: no-repeat; /* Không lặp lại hình ảnh */
    }

    .circle {
        position: absolute; /* Tùy chỉnh vị trí tuyệt đối của nội dung */
        width: 100px; /* Kích thước của hình tròn */
        height: 100px; /* Kích thước của hình tròn */
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%; /* Làm cho hình ảnh tròn */
        border: 2px solid #ccc;
        margin-left: 20px;
    }

    .content {
        position: absolute; /* Tùy chỉnh vị trí tuyệt đối của nội dung */
        top: 50%;
        transform: translateY(-50%);
        left: 30%;
        color: white; /* Màu văn bản */
        text-align: center;
    }

    .overlay {
        position: absolute; /* Định vị tuyệt đối */
        width: 80%; /* Chiều rộng của overlay bằng với khối */
        height: 100%; /* Chiều cao của overlay bằng với khối */
        background-color: rgba(0, 0, 0, 0.3); /* Màu xám mờ với độ mờ là 50% */
        border-radius: 5%; /* Làm cho hình ảnh tròn */
    }

    .text-model {
        color: red;
    }

</style>