@model Order
@{
    ViewData["Title"] = "Checkout";

}
@{
    int tong = 0;
    List<Voucher> myVouchers = new List<Voucher>();
    foreach (var item in ViewBag.Voucher)
    {
        myVouchers.Add(item);
    }

}
<title>@ViewData["Title"]</title>
<script src="~/js/fetchAddress.js" asp-append-version="true"></script>

<form asp-action="Checkout" asp-route-shopId="@ViewBag.Cart.shopId" method="post">

    <h2>Điền thông tin đơn hàng</h2>
    <div style="padding-left: 1em;">
        <div class="form-group">
            <label  class="control-label"><strong>Địa chỉ</strong></label><br />
            <input class="form-control" name="address" id="address" type="text" style="width:500px;display:none" />
            <textarea id="currentAddress" class="form-control" readonly>@ViewBag.Address</textarea>
            <div id="popup" style="display: none;" class="form-group">
                <div style="display: inline-block;">
                    <select id="province" name="province" onchange="loadDistricts(this.value)" >
                    </select>
                </div>
                <div style="display: inline-block;">
                    <select id="district" name="district" onchange="loadWards(this.value)" >
                        <option value="">Chọn quận/huyện</option>
                    </select>
                </div>
                <div style="display: inline-block;">
                    <select id="ward" name="ward" onchange="updateInput()" >
                        <option value="">Chọn xã/phường</option>
                    </select>
                </div>
                <input id="specificAddress" name="specificAddress" placeholder="Địa chỉ cụ thể" />
                <button type="button" id="btnclose" onclick="closepopup()">Hủy</button>

            </div>
            <button type="button" id="btnpopup" onclick="openpopup()">Chọn địa chỉ khác</button>
        </div>

        <hr>
        <div class="form-group">
            <label asp-for="Notes">Ghi Chú</label>
            <input asp-for="Notes" class="form-control" value="Đặt hàng" />
        </div>
    </div>
    <hr>
    <section id="cart_items">
        <label style="padding-left: 1em;">Chi tiết đơn hàng</label>

        <div class="container">
            <div class="breadcrumbs">
            </div>

            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image" style="width: 200px;">Ảnh</td>
                            <td class="description">Tên sản phẩm</td>
                            <td class="price">Đơn Giá</td>
                            <td class="quantity">Số Lượng</td>
                            <td class="total">Thành Tiền</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.cart.Items)
                        {
                            tong += @item.Price * @item.Quantity;

                            <tr>
                                <td class="cart_product" style="width: 200px;">
                                    <a a asp-controller="Products" asp-action="Details" asp-route-ma="@item.ProductId"><img src="@item.ProductImage" alt="" width="120" height="90"></a>
                                </td>
                                <td class="cart_description">
                                    <h4><a asp-controller="Products" asp-action="Details" asp-route-ma="@item.ProductId">@item.ProductName</a></h4>
                                    <p>Web ID: @item.ProductId</p>
                                </td>
                                <td class="cart_price">
                                    <p>@StringFormat.CurrencyFormat((int)item.Price)</p>
                                </td>
                                <td>
                                    <p>@item.Quantity</p>
                                </td>
                                <td class="cart_total" id="cartTotal">
                                    <p class="cart_total_price" id="totalPrice">@StringFormat.CurrencyFormat((int)(item.Price * item.Quantity))</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <tr>
                </tr>
            </div>
        </div>
    </section> <!--/#cart_items-->
    <div style="padding-left: 1em;">
        <hr>
        
        <hr>
        @{
            ViewData["tong"] = tong;
        }
        @Html.Partial("~/Views/Shared/_ListVoucherPartial.cshtml", myVouchers, ViewData)

        <hr>
        <label>Chi tiết thanh toán</label>
        <p>Tổng đơn hàng: @StringFormat.CurrencyFormat(tong)</p>
        <p id="percentDiscount">Giảm giá đơn hàng: 0 ₫</p>
        <h3 style="color:red" id="totalOrderPrice">Tổng thanh toán: @StringFormat.CurrencyFormat(tong)</h3>
        <div class="form-group">
            <label asp-for="PaymentId" class="control-label">Chọn phương thức thanh toán</label>
            @if (ViewBag.Payment != null)
            {
                foreach (var item in ViewBag.Payment)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="PaymentId" value="@item.Value" id="payment_@item.Value" required />
                        <label class="form-check-label" for="payment_@item.Value">@item.Text</label>
                    </div>
                }
            }
        </div>
        <input type="submit" value="Đặt Hàng" class="btn btn-primary"  />

    </div>
</form>
<script>
    function openpopup() {
        document.getElementById("btnpopup").style.display = "none";
        document.getElementById("currentAddress").style.display = "none";
        document.getElementById("popup").style.display = "block";

        document.getElementById('specificAddress').required = true;
        document.getElementById('address').required = true;
        document.getElementById('province').required = true;
        document.getElementById('district').required = true;
        document.getElementById('ward').required = true;

    }

    function closepopup() {

        document.getElementById("popup").style.display = "none";
        document.getElementById("btnpopup").style.display = "block";
        document.getElementById("currentAddress").style.display = "block";

        document.getElementById("specificAddress").value = null;
        document.getElementById('specificAddress').required = false;

        document.getElementById("address").value = null;
        document.getElementById('address').required = false;

        document.getElementById("province").selectedIndex = 0;
        document.getElementById('province').required = false;

        document.getElementById("district").selectedIndex = 0;
        document.getElementById('district').required = false;

        document.getElementById("ward").selectedIndex = 0;
        document.getElementById('ward').required = false;

    }
</script>
