@model IEnumerable<DoAnNhom11.Models.Reviews>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Shared/AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemDanhGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianDanhGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemDanhGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianDanhGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReviewsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReviewsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReviewsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
