<label><h1>Số đơn hàng</h1></label>
<select id="orders1">
    <option value="1">Tất Cả</option>
    <option value="2">Hôm nay</option>
    <option value="3">Hôm qua</option>
    <option value="4">Trong 7 ngày qua</option>
    <option value="5">Trong 30 ngày qua</option>
</select>
<p>Tổng số: <span id="txtOrder1" style="color:red">@ViewBag.Don</span></p>
<p>Chờ xác nhận: <span id="txtOrder2" style="color:red">@ViewBag.DonChoXacNhan</span></p>
<p>Đã thanh toán: <span id="txtOrder3" style="color:red">@ViewBag.DonDaThanhToan</span></p>

<script>
    document.getElementById("orders1").onchange = function () {
        var selectedOption = this.options[this.selectedIndex];
        var selectedValue = selectedOption.value;
        if (selectedValue == 1) {
            document.getElementById("txtOrder1").innerText = "@ViewBag.Don";
            document.getElementById("txtOrder2").innerText = "@ViewBag.DonChoXacNhan";
            document.getElementById("txtOrder3").innerText = "@ViewBag.DonDaThanhToan";
            return;
        }
        if (selectedValue == 2) {
            document.getElementById("txtOrder1").innerText = "@ViewBag.DonHomNay";
            document.getElementById("txtOrder2").innerText = "@ViewBag.DonChoXacNhanHomNay";
            document.getElementById("txtOrder3").innerText = "@ViewBag.DonDaThanhToanHomNay";
            return;
        }
        if (selectedValue == 3) {
            document.getElementById("txtOrder1").innerText = "@ViewBag.DonHomQua";
            document.getElementById("txtOrder2").innerText = "@ViewBag.DonChoXacNhanHomQua";
            document.getElementById("txtOrder3").innerText = "@ViewBag.DonDaThanhToanHomQua";
            return;
        }
        if (selectedValue == 4) {
            document.getElementById("txtOrder1").innerText = "@ViewBag.DonTuanNay";
            document.getElementById("txtOrder2").innerText = "@ViewBag.DonChoXacNhanTuanNay";
            document.getElementById("txtOrder3").innerText = "@ViewBag.DonDaThanhToanTuanNay";
            return;
        }
        if (selectedValue == 5) {
            document.getElementById("txtOrder1").innerText = "@ViewBag.DonThangNay";
            document.getElementById("txtOrder2").innerText = "@ViewBag.DonChoXacNhanThangNay";
            document.getElementById("txtOrder3").innerText = "@ViewBag.DonDaThanhToanThangNay";
            return;
        }
    };
    
</script>