@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<DoAnNhom11.Models.ProductImage>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Shared/AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[1].Product)
            </th>
            <th>
                Ảnh Mô Tả
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.TenSp)
                </td>
            <td>
                <img src="@item.Url" width="150"/>
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductImageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductImageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductImageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>