@model IEnumerable<DoAnNhom11.Models.Voucher>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Seller/Views/Shared/SellerLayout.cshtml";
}

<h1>Mã giảm giá của shop</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VoucherCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhanTramGiam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiamToiDa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonToiThieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBatDau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayHetHan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongCon)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VoucherCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhanTramGiam)
                </td>
                <td>
                    @if (item.GiamToiDa > 0)
                    {
                        @StringFormat.CurrencyFormat( item.GiamToiDa??0)
                        ;
                    }
                </td>
                <td>
                    @if (item.DonToiThieu > 0)
                    {
                        @StringFormat.CurrencyFormat(item.DonToiThieu ?? 0)
                        ;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayBatDau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayHetHan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongCon)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.VoucherId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VoucherId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
