@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Product>;

<script>
    function searchProducts(page) {
        $.ajax({
            type: "GET",
            url: '/Products/QuerryProduct?searchString=' + '@ViewBag.Search' + '&shopId=' + '@ViewBag.ShopId' + '&minPrice=' + '@ViewBag.MinPrice' + '&maxPrice=' + '@ViewBag.MaxPrice' + '&categoryId=' + '@ViewBag.CategoryId' + '&page=' + page,
            success: function (data) {
                var thispage = document.getElementById("thisPage");
                $('#searchResults').html(data);
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth' // Thêm hiệu ứng cuộn mượt
                });
            },
            error: function () {
                alert("lỗi");
            }
        });
    }
    var myView = '@ViewBag.myViewCategory';
    if (myView != 0) {
        $('#categoryView').html(`@Html.Raw(ViewBag.myViewCategory)`);
    }
    var inputs = document.querySelectorAll('input[name="ratio"]');
    inputs.forEach(function (input) {
        input.addEventListener('change', function () {
            if (this.checked) {
                $.ajax({
                    type: "GET",
                    url: '/Products/QuerryProduct?searchString=' + '@ViewBag.Search' + '&shopId=' + '@ViewBag.ShopId' + '&minPrice=' + '@ViewBag.MinPrice' + '&maxPrice=' + '@ViewBag.MaxPrice' + '&page=1' + '&categoryId=' + this.value,
                    success: function (data) {
                        var thispage = document.getElementById("thisPage");
                        $('#searchResults').html(data);
                        window.scrollTo({
                            top: 0,
                            behavior: 'smooth' // Thêm hiệu ứng cuộn mượt
                        });
                    },
                    error: function () {
                        return;
                    }
                });
            }
        });
    });
</script>


@if (Model.PageCount != 0)
{
    <div class="features_items">
        <!--features_items-->
        <div>
            @foreach (var item in Model)
            {
                @Html.Partial("_ProductPartial", item)
            }
        </div>
    </div>
    @if (Model.PageCount > 1)
    {


        <!--features_items-->
        <hr />
        <center>

            <ul class="pagination">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="page-item @(i ==  Model.PageNumber ? "active" : "")">
                        <a class="page-link" onclick="searchProducts(@i)">@i</a>
                    </li>
                }
            </ul>

        </center>
    }

}
else
{
    <h2 style="text-transform: capitalize" class="title text-center">Không có sản phẩm</h2>
}

