@using Microsoft.AspNetCore.Identity
@using DoAnNhom11.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);

}

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Developer"))
{
    <li class="nav-item">
        <a style="color:red" id="manage" class="nav-link text-dark" asp-area="Admin" asp-controller="shops" asp-action="Index">.....</a>
    </li>
    <li class="nav-item">
        <a style="color:red" id="manage" class="nav-link text-dark" asp-area="Seller" asp-controller="Products" asp-action="Index" asp-route-page="1">___</a>
    </li>

    <li class="nav-item">
        <div>
            @if (user.Avatar != null)
            {
                <img style="border-radius:50%;" width="30" height="30" src="@user.Avatar" />
            }
            else
            {
                <img style="border-radius:50%;" width="30" height="30" src="~/myLayout/images/home/avataruser.jpg" />

            }
            <a id="manage" class="nav-link text-dark" title="Manage">@UserManager.GetUserName(User)</a>
        </div>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" style="background-color: transparent; border: none;">Đăng Xuất</button>
        </form>
    </li>
}
else if (SignInManager.IsSignedIn(User) && User.IsInRole("Customer"))
{
    <li class="nav-item">
        <div>
            @if (user.Avatar != null)
            {
                <img style="border-radius:50%;" width="30" height="30" src="@user.Avatar" />
            }
            else
            {
                <img style="border-radius:50%;" width="30" height="30" src="~/myLayout/images/home/avataruser.jpg" />

            }
            <a id="manage" class="nav-link text-dark" title="Manage">@UserManager.GetUserName(User)</a>
        </div>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" style="background-color: transparent; border: none;">Đăng Xuất</button>
        </form>
    </li>
}

else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Đăng Ký</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login"> Đăng Nhập</a>
    </li>
}

