@model DoAnNhom11.Models.Product
@{
    int size = ViewBag.Size??4;
}
<div class="col-sm-@size">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <img src="@Model.AnhDaiDien" height="200" width="200" alt="" />
                <p style="text-align: right;color:red;background-color: yellow; display: inline;">-@Model.PhanTramGiam %</p>
                <h2>@StringFormat.CurrencyFormat((Model.GiaBan / 100 * (100 - Model.PhanTramGiam))??0)</h2>
                <p>@Model.TenSp</p>
                <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@Model.ProductId" asp-route-quantity="1" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Bỏ Vào Giỏ</a>
                <a asp-controller="Products" asp-action="Details" asp-route-ma="@Model.ProductId" class="btn btn-default add-to-cart"><i class="fa fa-info-circle"></i>Xem Chi Tiết</a>
            </div>
        </div>
    </div>
</div>