@model DoAnNhom11.Models.Product

@{
    ViewData["Title"] = "Details";

}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenSp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenSp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.AnhDaiDien" width=" 150" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThongSo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThongSo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GiaNhap)
        </dt>
        <dd class="col-sm-10">
            @StringFormat.CurrencyFormat(Model.GiaNhap)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>
        <dd class="col-sm-10">
            @StringFormat.CurrencyFormat(Model.GiaBan)

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongCon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoLuongCon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhanTramGiam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhanTramGiam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCategory.TenLoai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand.TenNhanHieu)
        </dd>
        <dt class="col-sm-2">
            Ảnh Mô Tả
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in ViewBag.productImages)
            {
                <img src="@item.Url" width=" 100" />
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-action="EditProduct" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
