@model DoAnNhom11.Models.Voucher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Voucher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoucherCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoucherCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhanTramGiam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhanTramGiam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiamToiDa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiamToiDa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonToiThieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonToiThieu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayHetHan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayHetHan)
        </dd> 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongCon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongCon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoucherCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoucherCategory.VoucherCategoryId)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VoucherId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
