@model IEnumerable<DoAnNhom11.Models.ReviewsImage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Shared/AdminLayout.cshtml";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewsId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewsId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReviewsImageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReviewsImageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReviewsImageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
